.phone {
  font-style: italic;
}

.otp-input {
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 2rem;
  text-align: center;
}

.btn {
  display: block;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}